@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
}

.container {
	width: 90%;
	margin: 0 auto;
	padding: 20px;
}

.header {
	text-align: center;
	margin-bottom: 20px;
}

.header h1 {
	font-size: 24px;
	margin: 0;
}

.header .stars {
	color: #007bff;
	cursor: pointer;
}
.stars .fa-star {
    color: gray; /* Màu mặc định của các ngôi sao khi chưa được chọn */
}

/* đổi màu vàng khi chọn */
.stars .fa-star.selected {
	color: gold;
}

.info {
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}

.info div {
	text-align: center;
}

.info div i {
	color: #50e0eb;
	font-size: 24px;
}

.info div p {
	margin: 5px 0 0;
}

.main-content {
	/* display: flex; */
	/* justify-content: space-between; */
	
}

.first-main-content {
	display: flex;
	justify-content: space-between;
}

.main-content .image-gallery {
	width: 56%;
}

.main-content .image-gallery img {
	width: 100%;
	border-radius: 10px;
}

.main-content .image-thumbnails {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.main-content .image-thumbnails img {
	width: 24%;
	border-radius: 10px;
	cursor: pointer;
}

.main-content .booking-info {
	width: 40%;
	background-color: #50e0eb;
	padding: 20px;
	border-radius: 10px;
}

.booking-info h2 {
	color: red;
	font-size: 24px;
	margin: 0;
}

.booking-info .original-price {
	text-decoration: line-through;
	color: #999;
}

.booking-info .discount-codes, .booking-info .date-picker, .booking-info .customer-type,
	.booking-info .total-price {
	margin: 20px 0;
}

.booking-info .discount-codes button {
	background-color: #7cb342;
	color: #fff;
	border: none;
	padding: 5px 10px;
	margin-right: 10px;
	border-radius: 5px;
	cursor: pointer;
}

.booking-info .date-picker input {
	width: 96%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.booking-info .customer-type {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.booking-info .customer-type div {
	text-align: center;
}

.booking-info .customer-type div input {
	width: 50px;
	text-align: center;
}

.booking-info .total-price {
	text-align: right;
	font-size: 24px;
	color: #007bff;
}

.booking-info .buttons {
	padding: 0 5%;
	display: flex;
	justify-content: space-between;
}

.booking-info .buttons button {
	background-color: #7cb342;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

.icon-info {
	display: flex;
}

.fa-map-marker-alt, .fa-clock, .fa-user, .fa-bus {
	margin-top: 14px;
	margin-right: 4px;
}

.container2 {
	margin: 18px auto;
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	/*box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);*/
}

.title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}

.row label {
	font-size: 16px;
	flex-grow: 1;
}

.counter {
	display: flex;
	align-items: center;
	flex-grow: 0;
}

.counter button {
	width: 30px;
	height: 30px;
	border: 1px solid #007bff;
	background-color: #ffffff;
	color: #007bff;
	font-size: 18px;
	cursor: pointer;
	border-radius: 5px;
}

.counter input {
	width: 40px;
	height: 30px;
	text-align: center;
	border: 1px solid #007bff;
	border-left: none;
	border-right: none;
	font-size: 16px;
	margin: 0 5px;
}

.price {
	font-size: 16px;
	color: #007bff;
	max-width: 30%;
	flex-grow: 1;
	text-align: right;
}

.total {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	font-size: 18px;
	font-weight: bold;
}

.total .amount {
	color: #007bff;
}

.row-word {
	width: 17%;
}

.code-tour {
	display: flex;
}

.tabs {
	display: flex;
	justify-content: space-around; /* Phân chia đều các tab */
	border-bottom: 2px solid #007bff;
	margin-bottom: 20px;
}

.tab {
	flex: 1;
	text-align: center;
	padding: 12px 0;
	cursor: pointer;
	font-weight: bold;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 20px;
	border-right: 1px solid #e9ecef;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.tab:last-child {
	border-right: none;
}

.tab.active {
	background-color: #50e0eb;
	border-bottom: 3px solid #007bff;
}

.tab:hover {
	background-color: #f1f1f1;
}

/* Nội dung tab sẽ được ẩn mặc định */
.tab-content {
	display: none;
}

/* Nội dung tab được hiển thị khi class 'active-content' được thêm */
.active-content {
	display: block;
}

.second-main-content {
	margin-top: 2%;
}

.container4 {
	background-color: #f5fdf4;
	border: 1px solid #e0e0e0;
	padding: 20px;
	text-align: center;
}

.message {
	color: #333;
	margin-bottom: 20px;
}

.button {
	background-color: #7cb342;
	color: white;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
}

.button:hover {
	background-color: #7cb342;
}

.review-container {
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	width: 400px;
	text-align: center;
}

.review-container h2 {
	font-size: 18px;
	margin-bottom: 10px;
}

.review-container h3 {
	font-size: 16px;
	margin-bottom: 20px;
	font-weight: normal;
}

.stars {
	color: #ffcc00;
	margin-bottom: 20px;
}

.review-container input, .review-container textarea {
	width: calc(100% - 20px);
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 14px;
}

.review-container textarea {
	height: 100px;
	resize: none;
}

.submit-btn {
	background-color: #4CAF50;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
}

.close-btn {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 20px;
	cursor: pointer;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 90; 
}

.review-container {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000; 
    width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.review-list {
    margin: 20px 0; 
    padding: 15px;
    border: 1px solid #ddd; 
    border-radius: 5px; /* Bo góc */
    background-color: #f9f9f9; 
}

.review-list-p {
    margin: 0; 
    font-weight: bold;
    font-size: 1.1em; 
    color: #333; 
}

.start-review {
    display: flex; 
    align-items: center; 
    margin: 5px 0; 
}

.start-review-p {
	margin:0;
    margin-right: 5px; 
    font-size: 1.2em; 
    color: #f39c12; 
}

.fa-star {
    color: gold; 
}

span {
	    margin-bottom: 3%;
    display: block; 
    margin-top: 5px; 
    color: #555; 
    font-style: italic; 
}

#schedule {
    background-color: #f4f4f4; 
    border-radius: 8px; 
    padding: 20px; 
    margin-top: 20px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

#schedule p {
    font-size: 1.1em; 
    margin: 10px 0; 
    line-height: 1.6; 
    color: #333; 
}

#schedule span {
    padding-left: 5px;
}
.schedule-p{
	display: flex;
}
.schedule-p-span{
	margin: 0;
}

@media (max-width: 768px) {
    .first-main-content {
        flex-direction: column; /* Chuyển sang cột khi màn hình nhỏ */
        align-items: center; /* Căn giữa */
    }

    .main-content .image-gallery {
        width: 100%; /* Chiếm toàn bộ chiều rộng */
        margin-left: 0; /* Bỏ lề trái */
    }

    .main-content .booking-info {
        width: 100%; /* Chiếm toàn bộ chiều rộng */
        margin-left: 0; /* Bỏ lề trái */
        margin-right: 0; /* Bỏ lề phải */
    }

    .main-content .image-thumbnails img {
        width: 48%; /* Giảm kích thước hình ảnh thumbnail */
    }

    .booking-info .total-price {
        font-size: 20px; /* Giảm kích thước chữ */
    }

    .booking-info .buttons {
        flex-direction: column; /* Xếp dọc các nút */
        padding: 0; /* Bỏ padding */
    }

    .button {
        width: 100%; /* Chiếm toàn bộ chiều rộng */
        margin-top: 10px; /* Thêm khoảng cách giữa các nút */
    }

    .review-container {
        width: 90%; /* Chiếm 90% chiều rộng */
    }

    #schedule {
        padding: 10px; /* Giảm padding */
    }
    .sub-image{
    margin-right: 1%;
    }
}

@media (max-width: 480px) {
    .header h1 {
        font-size: 20px; /* Giảm kích thước chữ tiêu đề */
    }

    .info div i {
        font-size: 20px; /* Giảm kích thước biểu tượng */
    }

    .total {
        font-size: 16px; /* Giảm kích thước chữ tổng cộng */
    }

    .booking-info .total-price {
        font-size: 18px; /* Giảm kích thước chữ tổng giá */
    }

    .review-container {
        width: 100%; /* Chiếm toàn bộ chiều rộng */
    }

    .tabs {
        flex-direction: column; /* Xếp dọc các tab */
    }

    .tab {
        padding: 10px; /* Giảm padding của tab */
    }
}

