<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Quản lý khách hàng</title>
<link rel="stylesheet" href="/css/home_admin.css">
<link rel="stylesheet" href="/css/base.css">
<link rel="stylesheet" href="/css/sidebar_admin.css">
<link rel="stylesheet" href="/css/tours_management.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
	rel="stylesheet" />
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap"
	rel="stylesheet" />
</head>

</head>
<body>
	<div class="sidebar">
		<div class="logo">
			<img alt="" height="50" width="50" src="https://storage.googleapis.com/a1aa/image/IkIPh4GKaG77KZx7nvUG3GOohf7MoegCFbHKFOjpxjycEvjTA.jpg" />
		</div>
		<ul class="nav">
			<li><a th:href="@{/admin}"> <i class="fas fa-home"> </i> Dashboard
			</a></li>
			<li><a href="#"> <i class="fas fa-envelope"> </i> Email
			</a></li>
			<li><a th:href="@{/admin/customer-management}"> <i
					class="fas fa-edit"> </i> Customer
			</a></li>
			<li><a th:href="@{/admin/promotion-management}"> <i
					class="fas fa-tags"> </i> Promotion
			</a></li>
			<li><a th:href="@{/admin/tours-management}"> <i
					class="fas fa-plane"> </i> Tours
			</a></li>
		</ul>
	</div>
	<div class="main-content">
		<div class="header">
			<div class="search-bar">
				<input placeholder="Search..." type="text" /> <i
					class="fas fa-search"> </i>
			</div>
			<div class="user-info">
				<img alt="User Avatar" height="40"
					src="https://storage.googleapis.com/a1aa/image/IkIPh4GKaG77KZx7nvUG3GOohf7MoegCFbHKFOjpxjycEvjTA.jpg"
					width="40" /> <span> John Doe </span>
			</div>
		</div>
		<div class="table-container">
			<div class="header-content">
				<h2 class="mb-20">Tours</h2>
				<p class="create-tours-btn" id="add-tours-btn">Tạo
					Tour</p>
			</div>
			<div class="filter">
				<button id="filter-customer-desc">Tăng</button>
				<button id="filter-customer-asc">Giảm</button>
			</div>
			<table>
				<thead>
					<tr>
						<th id="id" class="col-id">#</th>
				        <th class="col-tour-name">Tên tour</th>
				        <th class="col-departure">Khởi hành</th>
				        <th class="col-destination">Điểm đến</th>
				        <th class="col-start-date">Ngày bắt đầu</th>
				        <th class="col-end-date">Ngày kết thúc</th>
				        <th class="col-transport">Phương tiện</th>
				        <th class="col-quantity">SL</th>
				        <th class="col-price">Giá</th>
				        <th class="col-action">Action</th>
					</tr>
				</thead>
				<tbody id="user-table">
					<tr th:each="tour : ${tours}">
						<td th:text="${tour.tourId}"></td>
						<td class="col-tour-name" th:attr="title=${tour.tourName}" th:text="${#strings.abbreviate(tour.tourName, 36)}"></td>					
						
						<td class="col-departure" th:attr="title=${tour.departure}" th:text="${#strings.abbreviate(tour.departure, 36)}"></td>
					
						<td class="col-destination" th:attr="title=${tour.destination}" th:text="${#strings.abbreviate(tour.destination, 25)}"></td>
						<td th:text="${tour.startDate}"></td>
						<td th:text="${tour.endDate}"></td>
						<td th:text="${tour.transport}"></td>
						<td th:text="${tour.peopleMax}"></td>
						<td th:text="${tour.price}"></td>
						<td>
			                <a href="javascript:void(0);" th:attr="data-tourid=${tour.tourId}" onclick="editTour(this)" class="icon-action edit-icon">
			                    <i class="fas fa-pencil-alt"></i>
			                </a>
			                <a href="javascript:void(0);" th:attr="data-tourid=${tour.tourId}" onclick="deleteTour(this)" class="icon-action delete-icon">
			                    <i class="fas fa-trash-alt"></i>
			                </a>
			            </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- Pagination -->
    <div class="pagination-container" th:if="${totalPages > 1}">
        <ul class="pagination" id="pagination">
            <li th:if="${currentPage > 0}">
                <button th:attr="onclick='loadPage(' + (${currentPage - 1}) + ')'">
                    <i class="fas fa-chevron-left icon"></i>
                </button>
            </li>

            <li th:each="i : ${#numbers.sequence(1, totalPages)}">
                <a th:attr="onclick='loadPage(' + (${i - 1}) + ')'"
                   th:text="${i}"
                   th:class="${currentPage == i - 1} ? 'current' : ''"></a>
            </li>

            <li th:if="${currentPage + 1 < totalPages}">
                <button th:attr="onclick='loadPage(' + (${currentPage + 1}) + ')'">
                    <i class="fas fa-chevron-right icon"></i>
                </button>
            </li>
        </ul>
    </div>
	<!-- Form tạo tours -->
	<div class="overlay" id="overlay"></div>
<div class="form-popup" id="form-popup">
    <i class="fas fa-times close-icon" onclick="closeForm()"></i>
    <h3>Nhập thông tin Tour</h3>
    <form id="tour-form">
        <label>Tên tour</label>
        <input type="text" id="tourName" required>
       
        <div class="form-row">
            <div class="form-group">
                <label>Khởi hành</label>
                <select id="departureSelect" class="location-select" data-type="departure">
	                	<option value="" disabled selected>Chọn điểm đi</option>
						<option th:each="provinces: ${province}" th:value="${provinces.provinceId}" th:text="${provinces.name}">Chọn điểm đi</option>
					</select>
            </div>
            <div class="form-group">
                <label>Điểm đến</label>
                <select id="destinationSelect" class="location-select" data-type="destination">
	                	 <option value="" disabled selected>Chọn điểm đến</option>
						<option th:each="provinces: ${province}" th:value="${provinces.provinceId}" th:text="${provinces.name}">Chọn điểm đi</option>
					</select>
            </div>
            <div class="form-group">
		            <label>Số lượng tour</label>
		        <input type="number" id="quantity" required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label>Ngày bắt đầu</label>
                <input type="date" id="startDate" required>
            </div>
            <div class="form-group">
                <label>Ngày kết thúc</label>
                <input type="date" id="endDate" required>
            </div>
        </div>

        <label>Mô tả</label>
        <textarea id="detail" required></textarea>

        <div class="form-row">
            <div class="form-group">
                <label>Phương tiện</label>
                <input type="text" id="transport" required>
            </div>
            <div class="form-group">
                <label>Số người</label>
                <input type="number" id="peopleMax" required>
            </div>
            <div class="form-group">
                <label>Giá</label>
                <input type="number" id="price" required>
            </div>
        </div>
		<label>Chọn ảnh</label>
        <input type="file" id="createImageInput" multiple onchange="previewImages('create')">
		<div id="createImagePreviewContainer"></div>

        
        <h3>Schedules</h3>
		<table id="schedule-table" class="table">
			<thead>
				<tr>
					<th>Step</th>
					<th>Activity</th>
					<th>Location</th>
					<th>Update</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
		</table>
		<div class="btn-function">
			<button type="button" class="btn-insert-schedule" >Tạo lịch trình</button>
	
		</div>

        <button type="button" class="btn-save-all" onclick="creatTour()">Lưu</button>
    </form>
</div>
<!-- Modal Tạo Lịch Trình -->
		<div class="overlay1" id="overlay1"></div>
		<div id="createModal" style="display: none;">
			<div class="modal-content">
				<h3>Tạo Lịch Trình</h3>
				<label for="activity-input">Activity:</label>
				<textarea type="text" id="activity-input" class="area-activity" name="activity"></textarea>
				<label for="location-input">Location:</label> 
				<input type="text" id="location-input" name="location">
				<button id="btn-Ok-Insert-Schedule" class="btn-ok">OK</button>
				<button class="btn-cancel">Cancel</button>
			</div>
		</div>

		<!-- sửa lịch trình -->
		<div id="editModal" style="display: none;">
			<div class="modal-content-edit">
				<h3>Sửa Lịch Trình</h3>
					<div class="infor-edit-schedule">
						<label class="infor-edit-schedule-lable" for="step-input-edit"><b>Step:</b> </label> 
						<span class="infor-edit-schedule-span" type="text" id="step-input-edit" name="step-input-edit"></span>
					</div>

				</div>
				
				<label for="activity-input-edit">Activity:</label>
				<textarea type="text" id="activity-input-edit" class="area-activity" name="activity"></textarea>
				<label for="location-input-edit">Location:</label> 
				<input type="text" id="location-input-edit" name="location">
				
				<button id="btn-Ok-Update-Schedule" class="btn-ok">OK</button>
				<button type="button" id="btn-Cancel-Update-Schedule" class="btn-cancel-edit">Cancel</button>
			</div>
		</div>
		<!-- Cập nhật tour  -->
	<div class="form-popup-update-tour" id="form-popup-update-tour">
    <i class="fas fa-times close-icon" id="btn-close" onclick="closeForm()"></i>
    <h3>Thông tin Tour</h3>
    <form id="tour-form">
        <label>Tên tour</label>
        <input type="text" id="tourName-update" required>
        
        <div class="form-row">
            <div class="form-group">
                <label>Khởi hành</label>
                <select id="departureSelect-update" class="location-select" data-type="departure">
	                	<option value="" disabled selected>Chọn điểm đi</option>
						<option th:each="provinces: ${province}" th:value="${provinces.provinceId}" th:text="${provinces.name}">Chọn điểm đi</option>
					</select>
            </div>
            <div class="form-group">
                <label>Điểm đến</label>
                <select id="destinationSelect-update" class="location-select" data-type="destination">
	                	 <option value="" disabled selected>Chọn điểm đến</option>
						<option th:each="provinces: ${province}" th:value="${provinces.provinceId}" th:text="${provinces.name}">Chọn điểm đi</option>
					</select>
            </div>
            <div class="form-group">
                <label>Ngày bắt đầu</label>
                <input type="date" id="startDate-update" required>
            </div>
            <div class="form-group">
                <label>Ngày kết thúc</label>
                <input type="date" id="endDate-update" required>
            </div>
            <div class="form-group">
                <label>Phương tiện</label>
                <input type="text" id="transport-update" required>
            </div>
            <div class="form-group">
                <label>Số người</label>
                <input type="number" id="peopleMax-update" required>
            </div>
            <div class="form-group">
                <label>Giá</label>
                <input type="number" id="price-update" required>
            </div>
        </div>

        <label>Mô tả</label>
        <textarea id="detail-update" required></textarea>


		<label>Chọn ảnh</label>
        <input type="file" id="updateImageInput" multiple onchange="previewImages('update')">
		<div id="updateImagePreviewContainer"></div>

        
        <h3 onclick="OpenCloseSchedule()">
		    Lịch trình tour <span id="schedule-toggle-icon" class="fas fa-chevron-down"></span>
		</h3>
		<div class="schdule">
		    <table id="schedule-table" class="table">
		        <thead>
		            <tr>
		                <th class="col-step-schedule">Ngày</th>
		                <th class="col-activity-schedule">Hoạt động</th>
		                <th class="col-location-schedule">Địa điểm</th>
		                <th class="col-action-schedule">Sửa</th>
		                <th class="col-delete-schedule">Xóa</th>
		            </tr>
		        </thead>
		        <tbody id="tour-table">
		            <!-- Dữ liệu lịch trình sẽ được thêm vào đây -->
		        </tbody>
		    </table>
		    <div class="btn-function">
		        <button type="button" class="btn-insert-schedule-in-update-tour">Tạo lịch trình</button>
		    </div>
		</div>

		<h3 onclick="OpenCloseReview()">
		    Đánh giá tour <span id="review-toggle-icon" class="fas fa-chevron-down"></span>
		</h3>
		<div class="list-review">
		    <!-- Nội dung đánh giá sẽ được thêm vào đây -->
		</div>


        <button type="button" class="btn-save-all" onclick="updateTour()">Lưu</button>
    </form>
    
		
	</div>
</div>

<div class="overlay2" id="overlay2"></div>
<div id="createModalSchedule" style="display: none;">
			<div class="modal-content-schedule">
				<h3>Tạo Lịch Trình</h3>
				<label for="activity-input">Activity:</label>
				<textarea type="text" id="activity-input-schedule" class="area-activity" name="activity"></textarea>
				<label for="location-input">Location:</label> 
				<input type="text" id="location-input-schedule" name="location">
				<button id="btn-Ok-Insert-Schedule-Update" class="btn-ok">OK</button>
				<button class="btn-cancel">Cancel</button>
			</div>
		</div>
		
		<!-- sửa lịch trình -->
		<div id="editModalSchedule" style="display: none;">
			<div class="modal-content-edit-schedule">
				<h3>Sửa Lịch Trình</h3>
					<div class="infor-edit-schedule">
						<label class="infor-edit-schedule-lable" for="step-input-edit"><b>Step:</b> </label> 
						<span class="infor-edit-schedule-span" type="text" id="step-input-edit-schedule" name="step-input-edit"></span>
					</div>

				</div>
				
				<label for="activity-input-edit">Activity:</label>
				<textarea type="text" id="activity-input-edit-schedule" class="area-activity" name="activity"></textarea>
				<label for="location-input-edit">Location:</label> 
				<input type="text" id="location-input-edit-schedule" name="location">
				
				<button id="btn-Ok-Update-Schedule-Edit" class="btn-ok" onclick="UpdateScheduleBtn()">OK</button>
				<button type="button" id="btn-Cancel-Update-Schedule-Edit" class="btn-cancel-edit" >Cancel</button>
			</div>
	
	<script src="../js/tours_management.js"></script>
</body> 
</html>
