<html>
<head>
<title>Trang Tài Khoản</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<style>
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.container-profile {
	display: flex;
	margin-top:20px;
	margin-left:5%;
	justify-content: space-between;
}

.left {
	max-width: 30%;
}

.right {
	width: 70%;
}

.left h2, .right h2 {
	color: #2c3e50;
}

.left p {
	margin: 35px 0;
}

.left p span {
	color: red;
}

.left a {
	color: black;
	text-decoration: none;
}

.right p {
	margin: 30px 0;
}

.right p span {
	font-weight: bold;
}

label {
	display: block;
	margin: 10px 0;
	font-weight: bold;
}

input[type="password"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	background-color: #f5f5f5;
	margin-bottom: 10px;
}

button {
	width: 100%;
	padding: 10px;
	background-color: #007bff;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

button:hover {
	background-color: #0056b3;
}

.empty-div {
	width: 40%;
}

.change-password {
	width: 60%;
}
a:hover{
            color: #007bff;
        }
        
        .error-message {
		    color: red;
		    font-size: 12px;
    	 margin-bottom: 10px;
		}
</style>
</head>
<body>
<header id="header"></header>
	<div class="container-profile">
		<div class="left">
			<h2>TRANG TÀI KHOẢN</h2>
			<p>
				<strong>Xin chào, <span th:text="${user.fullName}">Đỗ
						Nam</span>!
				</strong>
			</p>
			<p>
				<a th:href="@{/account(userId=${user.user_id})}">Thông tin tài
					khoản</a>
			</p>
			<p>
				<a th:href="@{/account/get-order(userId=${user.user_id})}">Đơn
					hàng của bạn</a>
			</p>
			<p>
				<a th:href="@{/account/change-password(userId=${user.user_id})}">Đổi mật khẩu</a>
			</p>
			<p>
				<a th:href="@{/account/get-vouchers(userId=${user.user_id})}">Mã
					giảm giá của bạn</a>
			</p>
		</div>
		<div class="right">
			<div class="empty-div"></div>
			<div class="change-password">
				<h2>ĐỔI MẬT KHẨU</h2>
				<p>Để đảm bảo tính bảo mật bạn vui lòng đặt lại mật khẩu với ít
					nhất 8 kí tự</p>
				<form>
					<label for="old-password">Mật khẩu cũ *</label> <input
						type="password" id="old-password" name="old-password" required>
						<span id="old-password-error" class="error-message"></span>
					<label for="new-password">Mật khẩu mới *</label> <input
						type="password" id="new-password" name="new-password" required>
						<span id="new-password-error" class="error-message"></span>
					<label for="confirm-password">Xác nhận lại mật khẩu *</label> <input
						type="password" id="confirm-new-password" name="confirm-password"
						required>
						<span id="confirm-password-error" class="error-message"></span>

					<button type="submit" onClick="handleChangePassword(event)">ĐẶT LẠI MẬT KHẨU</button>
				</form>


			</div>
		</div>
	</div>
	<div id="footer"></div>
	<script src="/js/header.js"></script>
	<script>
		let userId = sessionStorage.getItem("userId");
		
	    if (userId) {
	    	var account = document.getElementById("account");
	    	account.href="/account?userId="+userId;
	    	var mybooking = document.getElementById("mybooking");
	    	mybooking.href="/account/get-order?userId="+userId;
	    }
	    
	    async function handleChangePassword(event) {
	        event.preventDefault();

	        // Lấy các giá trị từ form
	        const oldPassword = document.getElementById("old-password").value;
	        const newPassword = document.getElementById("new-password").value;
	        const confirmNewPassword = document.getElementById("confirm-new-password").value;
	        
	        const newPasswordErrorElement = document.getElementById('new-password-error');
	        newPasswordErrorElement.style.display = 'none';
	        
	        const confirmPasswordErrorElement = document.getElementById('confirm-password-error');
	        confirmPasswordErrorElement.style.display = 'none';
	        
	        const oldPasswordErrorElement = document.getElementById('old-password-error');
	        oldPasswordErrorElement.style.display = 'none';
	        const passwordRegex = /^(?=.{8,}).*$/; // Regex kiểm tra mật khẩu có ít nhất 8 ký tự

	        if(!oldPassword || !newPassword || !confirmNewPassword){
	        	alert("Vui lòng nhập đầy đủ thông tin!");
	            return;
	        }else if (oldPassword===newPassword) {
	        	newPasswordErrorElement.style.display = 'block';
	        	newPasswordErrorElement.textContent = 'Mật khẩu mới phải khác mật khẩu cũ.';
	            alert("Mật khẩu mới phải khác mật khẩu cũ");
	            return;
	        }else if (!passwordRegex.test(newPassword)) {
	        	newPasswordErrorElement.style.display = 'block';
	        	newPasswordErrorElement.textContent = 'Mật khẩu mới phải có ít nhất 8 ký tự.';
	            alert("Mật khẩu mới mới phải trên 8 ký tự");
	            return;
	        }
            else if (newPassword !== confirmNewPassword) {
            	confirmPasswordErrorElement.style.display = 'block';
            	confirmPasswordErrorElement.textContent = 'Mật khẩu xác nhận chưa chính xác';
	            alert("Mật khẩu mới và xác nhận mật khẩu không khớp.");
	            return;
	        }

	        var account = await getProfile();
	        const userId = account.user.user_id;
	        if (!userId) {
	            alert("Không tìm thấy người dùng. Vui lòng đăng nhập lại.");
	            return;
	        }

	        try {
	            // Lấy thông tin tài khoản từ server
	            const response = await fetch(`http://localhost:8080/api-get-account?userId=${userId}`, {
	                method: "GET",
	                headers: { "Content-Type": "application/json" }
	            });

	            if (!response.ok) {
	                alert("Không tìm thấy người dùng hoặc yêu cầu không thành công.");
	                return;
	            }

	            const data = await response.json();

	            // Tách salt và hash từ mật khẩu đã lưu
	            const [storedSalt, storedHash] = data.password.split("-");
	            const isCorrect = await verifyPasswordHMAC(oldPassword, storedSalt, storedHash);

	            if (!isCorrect) {
	                alert("Mật khẩu cũ không đúng.");
	                oldPasswordErrorElement.style.display = 'block';
	                oldPasswordErrorElement.textContent = 'Mật khẩu cũ không đúng.';
	                return;
	            }
	            // Mã hóa mật khẩu mới
	            const encryptedNewPassword = await encryptPasswordHMAC(newPassword);
	            const newPasswordData = `${encryptedNewPassword.storedSalt}-${encryptedNewPassword.storedHash}`;
				console.log('New password: ',newPasswordData);
	            // Gửi yêu cầu cập nhật mật khẩu mới lên server
	            const updateResponse = await fetch(`http://localhost:8080/update-password?userId=${userId}`, {
				    method: "POST",
				    headers: { "Content-Type": "application/json" },
				    body: JSON.stringify({ password: newPasswordData })
				});

	            if (updateResponse.ok) {
	                alert("Đổi mật khẩu thành công!");
	                location.reload();
	            } else {
	                alert("Đổi mật khẩu thất bại. Lỗi server.");
	            }
	        } catch (error) {
	            console.error("Error:", error.message);
	            alert("500 Lỗi server");
	        }
	    }
	    async function encryptPasswordHMAC(passwordInput) {
	        const salt = crypto.getRandomValues(new Uint8Array(16)); 
	        const passwordBuffer = new TextEncoder().encode(passwordInput);
	        
	        // Sử dụng salt và HMAC với SHA-256
	        const key = await crypto.subtle.importKey(
	            "raw",
	            salt,
	            { name: "HMAC", hash: { name: "SHA-256" } },
	            false,
	            ["sign"]
	        );
	        
	        const hash = await crypto.subtle.sign(
	            "HMAC",
	            key,
	            passwordBuffer
	        );
	        
	        return { "storedHash": bufferToHex(hash), "storedSalt": bufferToHex(salt) };
	    }


	    async function verifyPasswordHMAC(passwordInput, storedSalt, storedHash) {
	        const passwordBuffer = new TextEncoder().encode(passwordInput);
	        const saltBuffer = hexToBuffer(storedSalt);

	        const key = await crypto.subtle.importKey(
	            "raw",
	            saltBuffer,
	            { name: "HMAC", hash: { name: "SHA-256" } },
	            false,
	            ["sign"]
	        );
	        
	        const hash = await crypto.subtle.sign(
	            "HMAC",
	            key,
	            passwordBuffer
	        );
	        
	        const hashHex = bufferToHex(hash);
	        
	        return (hashHex === storedHash);
	    }


	    function bufferToHex(buffer) {
	        return Array.from(new Uint8Array(buffer))
	            .map(byte => byte.toString(16).padStart(2, '0'))
	            .join('');
	    }

	    function hexToBuffer(hex) {
	        let bytes = [];
	        for (let i = 0; i < hex.length; i += 2) {
	            bytes.push(parseInt(hex.substr(i, 2), 16));
	        }
	        return new Uint8Array(bytes);
	    }
	   
	</script>
</body>
</html>