<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Thông báo thanh toán</title>
<link rel="stylesheet" href="../css/NotificationSuccess.css">
<link rel="stylesheet" href="/css/notificationSuccess.js">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
	<div class="container">
		<div class="header">ND Travel</div>
		<div class="confirmation">
			<i class="fas fa-check-circle"> </i>
			<div class="confirmation-text">
				<b> Cảm ơn bạn đã đặt hàng </b>

			</div>
		</div>
		<div class="order-info">
			<div>
				<p>Thông tin mua hàng</p>
				<div class="lable-info">
					<label> <b>Khách hàng:</b>
					</label>
					<p th:text="${userNotification.fullName}">Đỗ Nam</p>
				</div>
				<div class="lable-info">
					<label><b>Email:</b> </label>
					<p th:text="${userNotification.email}">oda@gmail.com</p>
				</div>
				<div class="lable-info">
					<p>Phương thức thanh toán</p>
					<p th:text="${paymentNotification.paymentMethod.name}">0</p>
				</div>


			</div>

		</div>
		<div class="order-summary">
			<div class="lable-bookingId">
				<div class="lable-bookingId">
					<label> <b>Mã tour:</b>
					</label> <b><p class="lable-p"
							th:text="${bookingNotification.bookingId}">01</p></b>
				</div>

			</div>


			<div class="item">

				<div class="item-info">
					<b th:text="${tourNotification.tourName}"> Du Lịch </b>

					<div th:each="ticketBooking : ${ticketBookingList}">
						<div class="div-quantity">
							<p th:text="${ticketBooking.ticket.name}">:</p>
							<p th:text="${ticketBooking.quantity}" class="quantity-p"></p>

						</div>
					</div>
					<div class="div-departure">
						<label>Ngày đi:</label>
						<p class="departure-p" th:text="${tourNotification.startDate}"></p>
					</div>
					<div class="div-departure">
						<label>khởi hành:</label>
						<p class="departure-p" th:text="${tourNotification.departure}"></p>
					</div>
					<div class="div-departure">
						<label>Đến:</label>
						<p class="departure-p" th:text="${tourNotification.destination}"></p>
					</div>
				</div>

			</div>


			<div class="total">
				<b> Thành tiền </b> <b th:text="${bookingNotification.totalPrice}">
					0đ </b>
			</div>
		</div>
		<div class="actions">
			<button id="bt-continuteShop">
				<i class="fas fa-shopping-cart"> </i> Tiếp tục mua hàng
			</button>
			<button>
				<i class="fas fa-print"> </i> In
			</button>
		</div>
	</div>
	<script src="../js/notificationSuccess.js"></script>
</body>
</html>