<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Thanh toán</title>
<link rel="stylesheet" href="../css/payment.css">
<link rel="stylesheet" href="../js/payment.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<script src="https://www.paypal.com/sdk/js?client-id=ARW6b-dLanvCGRATvXwTqwf2KkcQNm11tPjKinXLalb7UD1PJV2OVsOSOhx1l6bM6BBPsSDYNagdR6Uu&currency=USD"></script>

</head>
<body>
	<div class="container">
		<div class="left">
			<h1>ND Travel</h1>
			<!-- <div class="section-title">
				Thông tin khách hàng <a href="#"
					style="float: right; color: #007bff;"> Đăng xuất </a>
			</div> -->
			<!-- <div class="form-group">
				<label for="address"> Số địa chỉ </label> 
				<input id="address" type="address" value="" />
			</div> -->
			<div class="form-group">
				<label for="email"> Email </label> <input th:value="${user.email}"
					id="email" type="email" /> <span id="email-error"
					class="error-message"></span>
			</div>
			<div class="form-group">
				<label for="name"> Họ và tên </label> <input
					th:value="${user.fullName}" id="name" type="text" /> <span
					id="name-error" class="error-message"></span>
			</div>
			<div class="form-group">
				<label for="phone"> Số điện thoại </label> <input
					th:value="${user.phone}" id="phone" type="text" /> <span
					id="phone-error" class="error-message"></span>
				<!-- <div class="flag"></div> -->
			</div>
			<div class="form-group">
				<label for="optional-address"> Địa chỉ (Số nhà, tên
					đường...) </label> <input th:value="${user.address.detail}"
					id="optional-address" type="text" name="detail" />
			</div>

			<div class="form-group">
				<label for="city"> Tỉnh thành </label> 
				<select id="city" name="provinceId" >
					<option th:value="${user.address.province.provinceId}" th:text="${user.address.province.name}">---</option>
				</select>
			</div>
			<div class="form-group">
				<label for="district"  > Quận huyện </label> 
				<select id="district" name="districtId" >
					<option th:value="${user.address.district.districtId}" th:text="${user.address.district.name}">---</option>
				</select>
			</div>
			<div class="form-group">
				<label for="ward"> Phường xã </label> 
				<select id="ward" name="wardId" >
					<option th:value="${user.address.ward.wardId}" th:text="${user.address.ward.name}">---</option>
				</select>
			</div>

			
			<div class="section-title">Thanh toán</div>
			<div class="payment-methods">
				<label> 
					<input  id="payment-online" name="payment" type="radio" value="online" />Online 
					<i class="fas fa-money-bill-wave"> </i>
				</label> 
				<label> 
					<input checked id="payment-cash" name="payment" type="radio" value="cash" />Cash 
					<i class="fas fa-money-bill-wave"></i>
				</label>
			</div>
		</div>
		
		
		<div class="right">
			<div class="section-title">Đơn hàng</div>
			<div class="order-summary">
				<div class="item">
					<img th:src="@{'/image/' + ${imagePayment.imageId}}" alt="Tour Image" height="70" width="50" />

					<div th:object="${ticketBooking}" class="item-details">
						<div class="code-booking">
							<label>Mã đơn: </label>
							<p th:text="${bookingPayment.bookingId}" id="id-booking" th:attr="data-id=${bookingPayment.bookingId}" class="booking-id" ></p>
						</div>
						<div class="code-tour">
							<label>Mã tour: </label>
							<p th:text="${tourPayment.tourId}" id="id-booking-info" th:attr="data-id=${tourPayment.tourId}" class="tour-id" ></p>
						</div>
						
							<p th:text="${tourPayment.tourName}">Du Lịch 4 Đảo Phú Quốc: Hành Trình 1 ngày</p>

						<div th:each="ticketBooking : ${ticketBookings}">
							<div class="div-quantity">
								<p th:text="${ticketBooking.ticket.name}">:</p>
								<p  th:text="${ticketBooking.quantity}" class="quantity-p"></p>
							</div>
						</div>

						<p id="date" th:text="${ #dates.format(tourPayment.startDate, 'yyyy-MM-dd') }" >Ngày đi: 2019-10-12</p> 
						<!-- <p th:text="${tourPayment.startDate != null ? #dates.format(tourPayment.startDate, 'yyyy-MM-dd') : 'Chưa có ngày đi'}">Ngày đi: </p> -->
						
					</div>
				</div>
				<div class="apply-coupon">
					<input id="discount-code" placeholder="Nhập mã giảm giá"
						type="text" />
					<button id="bt-apply">Áp dụng</button>
				</div>
				<div class="item">
					<p>Tạm tính</p>
					<p id="temp-price">10.500.000đ</p>
				</div>

				<div class="total">
					<span>Tổng cộng</span> 
					<span id="total-price" class="total-amount">0₫</span>
					
				</div>
				<div class="total-conversion">
					<div>Quy đổi</div>
					<div id="conversion-value" class="amount">0₫</div>
					
				</div>
				
				<div class="actions">
					
					<button  id="bt-pay" class="order-button">Thanh toán</button>
				</div>
				
				
				<div id="paypal-button-container"></div>
				<a href="#" class="back-to-cart">‹ Quay về giỏ hàng</a>
			</div>
		</div>
	</div>
	
	<script src="../js/payment.js"></script>
	<script type="text/javascript">
		window.onload = function() {
			console.log("Bạn đã vào trang payment thành công!");
		}
	</script>
</body>
</html>