<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Search Results</title>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="/css/tourPage.css">
<link rel="stylesheet" href="/css/search_user.css">

</head>
<body>
	<header id="header"></header>
	<div class="filter">
		<label for="price-sort">Sắp xếp theo giá:</label>
		<select id="price-sort" name="price-sort" onchange="SortPrice()">
			<option value="0">Chọn</option>
		    <option value="1">Tăng giá</option>
		    <option value="2">Giảm giá</option>
		</select>
    
    </div>
	<div class="main-content">
		<div class="filter-container">
			<div class="search-right-box">
				<input type="text" class="search-input" id="input-tour-name" placeholder="Điểm đến"> <i
					class="fa-brands fa-searchengin icon-search"></i>
			</div>
			<div class="price-filter-box">
				<div class="price-box-header">Giá tiền:</div>
				<div class="price-box">
					<label class="item-price"><input type="radio" name="option"
						value="0" onClick="showRangeBox(false)">Đang giảm giá</label><br>
				</div>
				<div class="price-box">
					<label class="item-price"><input type="radio" name="option"
						value="1" onClick="showRangeBox(false)">Dưới 1 triệu</label><br>
				</div>
				<div class="price-box">
					<label class="item-price"><input type="radio" name="option"
						value="2" onClick="showRangeBox(flase)">Từ 1 - 5 triệu</label><br>
				</div>
				<div class="price-box">
					<label class="item-price"><input type="radio" name="option"
						value="3" onClick="showRangeBox(false)"> trên 5 triệu</label><br>
				</div>
				<div class="price-box">
					<label class="item-price"><input type="radio" name="option"
						value="4" onClick="showRangeBox(true)"> Chọn mức giá</label><br>
				</div>

				<div class="price-range-container in-active">
					<label class="price-label">Chọn mức giá phù hợp</label>
					<div class="range-inputs">
						<input type="text" id="min-price" readonly> <input
							type="text" id="max-price" readonly>
					</div>
					<div class="slider-container">
						<div class="slider-track"></div>
						<input type="range" min="1000000" max="20000000" value="1500000"
							id="range-min"> <input type="range" min="1000000"
							max="20000000" value="4000000" id="range-max">
					</div>
				</div>

			</div>
			<div class="location-filter-box">
				<div class="location-header">Điểm xuất phát:</div>
				<div class="location-and-day search-right-box">
				<select id="departureSelect" class="location-select search-input" data-type="departure">
	                	<option value="" disabled selected>Chọn điểm đi</option>
						<option th:each="provinces: ${province}" th:value="${provinces.provinceId}" th:text="${provinces.name}">Chọn điểm đi</option>
					</select>
				</div>
				
			</div>
			<div class="start-date-filter-box">
				<div class="start-box-header">Ngày đi:</div>
				<div class="location-and-day search-right-box"> <input type="date"
						id="input-start-date" placeholder="Chọn ngày đi" class="search-input">
				</div>
			</div>
			<div class="finish-date-filter-box">
				<div class="finish-box-header">Ngày về:</div>
				<div class="location-and-day search-right-box"> <input type="date"
						id="input-end-date" placeholder="Chọn ngày về" class="search-input">
				</div>
			</div>
			<div class="transportation-filter-box">
				<div class="transportation-box-header">Di chuyển:</div>
				<div class="transportation-box">
					<label class="item-transportation"><input type="radio"
						name="transport-option" value="0">Xe khách</label><br>
				</div>
				<div class="transportation-box">
					<label class="item-transportation"><input type="radio"
						name="transport-option" value="1">Tàu hỏa</label><br>
				</div>
				<div class="transportation-box">
					<label class="item-transportation"><input type="radio"
						name="transport-option" value="2">Máy bay</label><br>
				</div>
			</div>
			<div class="button-box">
			<button id="main-btn-search" >Tìm kiếm</button>
			</div>
			
		</div>
		<div class="list-tour-container">
			<div id="list-tour" class="container">

				<div class="card" th:each="tour : ${searchResults}"
					onclick="linktoDetailTour(this)" th:attr="data-id=${tour[0]}">
					<img th:src="@{'/image/' + ${tour[6]}}">
					<div class="card-content">
						<p>
							<i class="fas fa-map-marker-alt icon"></i> Khởi hành từ: <span
								th:text="${tour[1]}">Địa điểm khởi hành</span>
						</p>
						<h3 th:text="${tour[2]}">Tên tour</h3>
						<p class="rating"
							th:title="'Đánh giá ' +${tour[8]} + '/5(' + ${tour[9]} + ')'">
							<i class="fas fa-star"
								th:classappend="${tour[8] >= 1 ? ' full' : (tour[8] >= 0.5 ? ' half' : ' empty')}"></i>
							<i class="fas fa-star"
								th:classappend="${tour[8] >= 2 ? ' full' : (tour[8] >= 1.5 ? ' half' : ' empty')}"></i>
							<i class="fas fa-star"
								th:classappend="${tour[8] >= 3 ? ' full' : (tour[8] >= 2.5 ? ' half' : ' empty')}"></i>
							<i class="fas fa-star"
								th:classappend="${tour[8] >= 4 ? ' full' : (tour[8] >= 3.5 ? ' half' : ' empty')}"></i>
							<i class="fas fa-star"
								th:classappend="${tour[8] >= 5 ? ' full' : (tour[8] >= 4.5 ? ' half' : ' empty')}"></i>
						</p>

						<p class="price">
							<span class="tourPrice" th:text="${tour[3]}"></span> <span
								class="tourOriginalPrice" th:if="${tour[3] != tour[7]}"
								th:style="'text-decoration: line-through; color: grey;'"
								th:text="${tour[7]}"></span>
						</p>
						<p class="time">
							<i class="fas fa-clock icon"></i> Thời gian: <span
								class="tour-duration"
								th:attr="data-start-date=${tour[4]}, data-end-date=${tour[5]}">
							</span>
						</p>
					</div>
				</div>
			</div>

			<!-- Pagination -->
			<div class="pagination-container" th:if="${totalPages > 1}">
				<ul class="pagination" id="pagination">
					<li th:if="${currentPage > 0}">
						<button th:attr="onclick='loadPage(' + (${currentPage - 1}) + ')'">
							<i class="fas fa-chevron-left icon"></i>
						</button>
					</li>

					<li th:each="i : ${#numbers.sequence(1, totalPages)}"><a
						th:attr="onclick='loadPage(' + (${i - 1}) + ')'" th:text="${i}"
						th:class="${currentPage == i - 1} ? 'current' : ''"></a></li>

					<li th:if="${currentPage + 1 < totalPages}">
						<button th:attr="onclick='loadPage(' + (${currentPage + 1}) + ')'">
							<i class="fas fa-chevron-right icon"></i>
						</button>
					</li>
				</ul>
			</div>
		</div>

	</div>
	<div id="footer"></div>
	<script src="/js/header.js"></script>
	<script src="/js/search.js"></script>
	<script src="/js/tourPage.js"></script>
</body>
</html>
