<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Vouchers</title>
<link rel="stylesheet" href="../css/pagination.css">
<link rel="stylesheet" href="../css/vouchers.css">
<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
	<header id="header"></header>

	<div class="container">
		<div class="left">
			<h2>TRANG TÀI KHOẢN</h2>
			<p>
				<strong>Xin chào, <span th:text="${user.fullName}">Đỗ
						Nam</span>!
				</strong>
			</p>
			<p>
				<a th:href="@{/account(userId=${user.user_id})}">Thông tin tài
					khoản</a>
			</p>
			<p>
				<a th:href="@{/account/get-order(userId=${user.user_id})}">Đơn
					hàng của bạn</a>
			</p>
			<p>
				<a th:href="@{/account/change-password(userId=${user.user_id})}">Đổi mật khẩu</a>
			</p>
			<p>
				<a th:href="@{/account/get-vouchers(userId=${user.user_id})}">Mã
					giảm giá của bạn</a>
			</p>
		</div>
		<div class="right">
			<h3>Kho mã giám giá của bạn.</h3>
			<div class="coupon-wr">

				<div th:each="voucher : ${vouchers}" class="coupon">
					<div class="left">
						<img src="/imagess/background_light_v1.jpg" alt="ND Travel Logo">
						<span th:text="${voucher.code}"></span>
					</div>
					<div class="right">
						<div class="new">Mới</div>
						<div th:text="${voucher.description}" class="details"></div>
						<div class="conditions">
							Có hiệu lực từ: <span th:text="${voucher.startDate}"></span> - <span
								th:text="${voucher.endDate}"></span>
						</div>
					</div>
				</div>

			</div>


			
		</div>
	</div>

	<div id="footer"></div>

	<script src="/js/header.js"></script>
</body>
</html>