<style>
#footer {
	margin-top: 20px;
    background-color: #f9f9f9;
    padding: 40px 20px;
    text-align: left;
    display: flex;
}

#footer .column {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
}

#footer .column h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

#footer .column p,
#footer .column a {
    font-size: 14px;
    color: #333;
    text-decoration: none;
    margin-bottom: 5px;
    display: block;
}

#footer .social-icons {
    display: flex;
}
#footer .social-icons a {
    font-size: 20px;
    margin-right: 10px;
    color: #333;
}

#footer .app-links img {
    width: 120px;
    margin-right: 10px;
}

#footer .payment-methods img {
    width: 50px;
    margin-right: 10px;
}

#footer .copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}
</style>


<div class="column">
    <h3>
     THÔNG TIN LIÊN HỆ
    </h3>
    <p>
     <strong>
      Địa chỉ
     </strong>
     <br/>
     Tòa nhà Ladeco, 266 Đội Cấn, Ba Đình, Hà Nội
    </p>
    <p>
     <strong>
      Email
     </strong>
     <br/>
     support@sapo.vn
    </p>
    <p>
     <strong>
      Hotline
     </strong>
     <br/>
     1900 6750
    </p>
    <p>
     <strong>
      Thời gian hỗ trợ
     </strong>
     <br/>
     08:30 - 21:30 các ngày trong tuần
    </p>
   </div>
   <div class="column">
    <h3>
     HƯỚNG DẪN
    </h3>
    <a href="#">
     Trang chủ
    </a>
    <a href="#">
     Giới thiệu
    </a>
    <a href="#">
     Tour du lịch
    </a>
    <a href="#">
     Tin tức
    </a>
    <a href="#">
     Faqs
    </a>
    <a href="#">
     Liên hệ
    </a>
   </div>
   <div class="column">
    <h3>
     THÔNG TIN CẦN BIẾT
    </h3>
    <a href="#">
     Về chúng tôi
    </a>
    <a href="#">
     Câu hỏi thường gặp
    </a>
    <a href="#">
     Điều kiện, điều khoản
    </a>
    <a href="#">
     Quy chế hoạt động
    </a>
    <a href="#">
     Liên hệ
    </a>
   </div>
   <div class="column">
    <h3>
     KẾT NỐI
    </h3>
    <div class="social-icons">
     <a href="#">
      <i class="fab fa-facebook-f">
      </i>
     </a>
     <a href="#">
      <i class="fab fa-youtube">
      </i>
     </a>
     <a href="#">
      <i class="fab fa-twitter">
      </i>
     </a>
     <a href="#">
      <i class="fab fa-instagram">
      </i>
     </a>
     <a href="#">
      <i class="fab fa-google">
      </i>
     </a>
    </div>
    <h3>
     TẢI ỨNG DỤNG M&N TRAVEL
    </h3>
    <div class="app-links">
     <a href="#">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Google_Play_Store_badge_EN.svg/512px-Google_Play_Store_badge_EN.svg.png" alt="Google Play">
     </a>
    </div>
    <h3>
     PHƯƠNG THỨC THANH TOÁN
    </h3>
    <div class="payment-methods">
     <img src="https://upload.wikimedia.org/wikipedia/commons/4/41/Visa_Logo.png" alt="Visa">
      <img src="https://upload.wikimedia.org/wikipedia/commons/0/04/Mastercard-logo.png" alt="MasterCard">
     <img src="https://upload.wikimedia.org/wikipedia/commons/b/b5/PayPal.svg" alt="PayPal" style="width: 90px;">
    </div>
   </div>
