
    <div class="container">
        <div class="container">
            <div class="logo">
                <a href="home.html"><img src="/image/Logo.png" alt="ND Travel Logo"></a>
            </div>
            <nav>
                <ul>
                    <li><a href="/home" id="home-link">Trang chủ</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropbtn" id="about-link">Giới thiệu</a>
                    </li>
                    <li class="dropdown">
                        <a href="/search?s=" class="dropbtn" id="tour-link">Tour du lịch</a>
                    </li>
                    <li><a href="#" id="news-link">Tin tức</a></li>
                    <li><a href="#" id="faq-link">FAQs</a></li>
                    <li><a href="#" id="contact-link">Liên hệ</a></li>
                </ul>
            </nav>            
            <div class="icons">
                <a href="#"><i class="fas fa-search btn-search"></i></a>
                <a href="/"><i class="fa-regular fa-circle-user"></i></a>
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                <span class="hotline">
                    <i class="fa-solid fa-headset"></i>
                    Hotline 1900 9999
                </span>
            </div>         
        </div>

        <!-- Div phụ (search-box) -->
        <div class="search-box" id="searchBox">
            <div class="empty-box" id="emptyBox"></div>
            <div class="search-top">
                <div class="search-container">
                    <input type="text" id="searchInput" placeholder="Nhập tên tour...">
                    <i class="fas fa-search" id="searchIcon"></i>
                </div>
            </div>
        </div>
      </div>
