<style>
@charset "UTF-8";

.sidebar {
	width: 250px;
	height: 100vh;
	background-color: #343a40;
	color: #fff;
	padding-top: 20px;
	position: fixed;
	border-right: 1px solid #e3e6f0;
	top: 0;
	left: 0;
	transition: width 0.3s ease;
	overflow: hidden;
}

.sidebar .logo {
	text-align: center;
	margin-bottom: 30px;
}

.sidebar .logo img {
	background-color: white; border-radius : 50%;
	border: 2px solid #fff;
	border-radius: 50%;
}

.sidebar ul.nav {
	list-style-type: none;
	padding: 0;
}

.sidebar ul.nav li {
	margin: 10px 0px;
	padding: 10px 20px;
}

.sidebar ul.nav li a {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	border-radius: 4px;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar ul.nav li a i {
	margin-right: 15px;
	font-size: 18px;
}

.sidebar ul.nav li a:hover {
	background-color: #495057;
	color: #f8f9fa;
}

.sidebar ul.nav li a i.fas {
	transition: transform 0.3s ease;
}

.sidebar ul.nav li a:hover i.fas {
	transform: scale(1.2);
}
</style>

<div class="logo">
	<img alt="" height="150" width="150"
		src="..//imagess//background_light_v1.jpg" />
</div>
<ul class="nav">
	<li><a th:href="@{/admin}"> <i class="fas fa-home"> </i>
			Dashboard
	</a></li>
	<li><a href="#"> <i class="fas fa-envelope"> </i> Email
	</a></li>
	<li><a th:href="@{/admin/customer-management}"> <i
			class="fas fa-edit"> </i> Customer
	</a></li>
	<li><a th:href="@{/admin/promotion-management}"> <i
			class="fas fa-tags"> </i> Promotion
	</a></li>
	<li><a th:href="@{/admin/tours-management}"> <i
			class="fas fa-plane"> </i> Tours
	</a></li>
	
	<li><a th:href="@{/admin/employee-management}"> <i
			class="fas fa-user"> </i> Employee
	</a></li>
	
	<li><a href="/"> <i class="fa-solid fa-right-from-bracket"></i>
			Logout
	</a></li>

</ul>